token.txt
images/cache/*
images/avatars/transcoded
audio/yt/*
audio/47.*
node_modules/*
**/Thumbs.db
subs.srt
subs_bottom.srt
saved_status.txt
openai.txt
openai_key2.txt
monsoon.txt
scal_allowtime.txt
versus/*.mp4
versus/img*.*
stored_funnynumbers.txt
cookie.txt
errorhook.txt
dave.txt
retrycache.json
dave.txt
.env
lastdrink.txt
dist
autostatus.json
.vscode