body,
html {
    padding: 5px;
    background-color: #ddd;
}

h1 {
    margin: 5px auto;
}

hr {
    margin: 10px 0px;
    border-color: #333;
}

input[type='text'] {
    width: 350px;
    margin-right: 5px;
}

input[type='text'].wide {
    width: 512px;
}

input[type='submit'] {
    font-size: x-large;
}

input[type='file'] {
    font-size: medium;
    margin: 0 -5px;
}

label {
    margin: 5px 0;
    font-size: x-large;
    font-weight: normal;
}

input,
select {
    font-size: x-large;
    padding: 2px 4px;
    margin: 5px 0;
}

textarea {
    margin-top: 5px;
    font-size: large;
    background-color: white;
    cursor: not-allowed;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input:focus,
textarea:focus {
    outline: none;
}

#out {
    margin-top: 5px;
    width: 512px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.loader {
    margin-top: 5px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 512px;
    height: 512px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    font-size: large;
}

.code {
    font-size: smaller;
    font-family: monospace;
}

canvas#maker {
    background-color: #333;
}

div.wrapper {
    position: relative;
}

canvas#maker3 {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

input[type="submit"]:disabled {
    cursor: not-allowed;
}

div#userinfo {
    text-align: center;
    padding: 5px;
    border: 3px solid rgba(59, 63, 94, 1);
    background-color: rgba(59, 63, 94, 0.6);
    width: max-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-size: x-large;
    width: 256px;
}

div#userinfo img#useravatar {
    object-fit: cover;
    object-position: center;
    width: 128px;
    height: 128px;
    border: 3px solid white;
    margin-bottom: 5px;
    border-radius: 999em;
    -webkit-border-radius: 999em;
    -moz-border-radius: 999em;
    -ms-border-radius: 999em;
    -o-border-radius: 999em;
}

div#userinfo p {
    margin: 2.5px;
    line-height: calc(normal - 5px);
}